{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flight front</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/flight.css' %}">
</head>
<body>

    <header>
    
        <a href="/" class="logo"><img src="{% static '/images/logo2.png' %}" alt=""style="width: 250px;height: 40px;"></a>
    
    <nav class="navbar">
        <ul>
    
            <li> <a data-scroll="flights" href="/flight/"> flights</a></li>
            <li><a data-scroll="hotels" href="/hotel/"> hotels</a></li>
            <li><a data-scroll="Trains" href="/train/"> Trains</a></li>
            <li><a data-scroll="buses" href="/bus/"> buses</a></li>
            <li><a data-scroll="cabs" href="/cab/"> cabs</a></li>
            <li><a data-scroll="contact" href="{% url 'home' %}"> contact</a></li>
        
        
               
        </ul>
            </nav> 
                 
    </header>
    
    <section class="front">
        <div class="image">
            <img src="{% static 'images/flight/flightsbg.jpg' %}" alt="">
        </div>

        <div class="content">
            <h3>Book Flight</h3>
            <p>Flying is like an artform, the pilots fly that plane through the endless sea of clouds as passionately and as smooth as an artist carefully ...</p>
            <a href="#" class="btn">explore now</a>

        </div>
    </section>

    <section class="from-container">

        


        <form action="{% url 'flight' %}" method="post">
            {% csrf_token %}

            {% comment %} <div class="inputbox">
                <span>Name</span>
                <input type="text" placeholder="Enter your full name" name="username" >
            </div> {% endcomment %}
    
                <br>
            <div class="input3"><!--input3-->
                <span id="input-group" class="text-primary" style="color: #0098a1;">Select Your Fare</span><br/> 
                <input type="radio" id="input-group"  value="One way" name="r">
                <label class="lbl" id="input-group">One Way</label>
                <input type="radio" id="input-group" value="Round way" name="r">
                <label class="lbl" id="input-group" >Round Trip</label>
                <input type="radio" id="input-group" value="multi way" name="r">
                <label class="lbl" id="input-group" >multi way</label>
            </div>
            <br>
        
                <div class="inputbox">
                    <span class="list">From</span>
                    <select  id="input-group" name="froml" style="background: #fff;">
                        <option value="">---</option>
                        {% for ct in city  %}
                        <option value="{{ ct.City_name }}">{{ ct.City_name }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                
                <div class="inputbox">
                    <span class="list">To</span>
                    <select  id="input-groups" name="tol" style="background: #fff;" onchange="get_amountto(this)">
                        <option value="">---</option>
                        {% for tct in tocity  %}
                        <option value="{{ tct.price }}">{{ tct.City_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
    

            
            <div class="inputbox">
                <span>departure</span>
                <input type="date"  name="ddate">
            </div>

            <div class="inputbox">
                <span class="list">Airlines</span>
                <select  id="input-group" name="adate" style="background: #fff;">
                    <option value="">---Select Airline---</option>
                    {% for air in airln  %}
                    <option value="{{ air.airline }}">{{ air.airline }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="inputbox">
                <span>Travellers</span>
                <input type="text" id="travel" placeholder="No.of travellers" name="adult" onchange="get_amt()">
            </div>

            <div class="inputbox">
                <span>childs</span>
                <input type="text" placeholder="No of children" name="child">
            </div>

            <div class="inputbox">
                <span class="list">Class</span>
                <select  id="inputgroup" name="seat" style="background: #fff;width: 45rem;" onchange="get_amount(this)">
                    <option value="" >---Select Class---</option>
                    {% for fc in flightclass %}
                    <option value="{{ fc.flight_price }}">{{ fc.flight_class }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="inputbox">
                <span>Amount</span>
                <input type="text" id="amount" placeholder="Total Amount" name="amount" >
            </div>

            
            <button type="submit" class="btn">Book now</button>


        </form>
    </section>


    <section class="feature" id="feature">

        <h1 class="heading"><span>Fly</span> through</h1>
        
        <div class="card-container">
            
            {% for flythrough in fly %}
            <div class="card">
                <img src="{{ flythrough.fly_image.url }}" alt="">
                <div class="content">
                    <h3 class="title">{{ flythrough.fly_title }}</h3>
                      <p>{{ flythrough.fly_description }} </p>
                </div>
            </div>
            {% endfor %}
        </div>
            
            {% comment %} <div class="card">
            
                <img src="{% static 'images/flight/Goafly.jpg' %}" alt="">
                <div class="content">
                    <h3 class="title">Goa Flights</h3>
                      <p>Via - Delhi , Mumbai, Bangalore, Ahmedabad</p>
                </div>
            </div>

            
            <div class="card">
            
                <img src="{% static 'images/flight/Mumbaifly.jpg' %}" alt="">
                <div class="content">
                    <h3 class="title">Mumbai Flights</h3>
                      <p>Via - Delhi, Bangalore, Chennai, Ahmedabad</p>
                </div>
            </div>

            
            <div class="card">
            
                <img src="{% static 'images/flight/kolkotafly.jpg' %}" alt="">
                <div class="content">
                    <h3 class="title">Kolkata  Flights</h3>
                      <p>Via - Delhi, Mumbai, Bangalore, Pune</p>
                </div>
            </div>

            <div class="card">
            
                <img src="{% static 'images/flight/Bangalorefly.jpg' %}" alt="">
                <div class="content">
                    <h3 class="title">Bangalore Flights</h3>
                      <p>Via - Delhi, Pune, Mumbai, Kolkata </p>
                </div>
            </div>

            <div class="card">
            
                <img src="{% static 'images/flight/Jaipurfly.jpg' %}" alt="">
                <div class="content">
                    <h3 class="title">Jaipur  Flights</h3>
                      <p>Via - Mumbai, Delhi, Pune, Bangalore </p>
                </div>
            </div>

            <div class="card">
            
                <img src="{% static 'images/flight/Punefly.jpg' %}" alt="">
                <div class="content">
                    <h3 class="title">Pune   Flights</h3>
                      <p>Via - Delhi, Bangalore, Chennai, Ahmedabad</p>
                </div>
            </div>

            <div class="card">
            
                <img src="{% static 'images/flight/Delhifly.jpg' %}" alt="">
                <div class="content">
                    <h3 class="title">Delhi   Flights</h3>
                      <p>Via - Mumbai, Pune, Bangalore, Chennai </p>
                </div>
            </div>

            <div class="card">
            
                <img src="{% static 'images/flight/hyderabadfly.jpg' %}" alt="">
                <div class="content">
                    <h3 class="title">Hyderabad   Flights</h3>
                      <p>Via - Chennai, Mumbai, Bangalore, Delhi </p>
                </div>
            </div>  {% endcomment %}
       
    </section>

  

    <section class="newsletter">

        <h1>sign up with your Email</h1>
        
        <p>To know the more information of your booking</p>
        
        <form action="">
            <input type="email" placeholder="enter your email">
            <input type="submit" value="sign up">
        </form>
        
        </section>
        
        <section class="footer">
        
        <h1 class="credit">created by <span>afnan</span> | all rights reserved.</h1>
        
        <div class="icons">
            <a href="https://www.facebook.com/" target="_blank" ><i class="fab fa-facebook-f"></i> </a>
            <a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/af.travels9938/" target="_blank"><i class="fab fa-instagram"></i></a>
            
        </div>
        
        </section>
    
    <script>
        function get_amount(el){
            var toamount = document.getElementById('input-groups').value;
            var travel = document.getElementById('travel').value;      
            var inputgroup = el.value;
            let amt = parseInt(travel) * parseInt(inputgroup);
            amount.value = amt + parseInt(toamount);
        }

        function get_amountto(el){
            var toamount = el.value;
            var travel = document.getElementById('travel').value;      
            var inputgroup = document.getElementById('inputgroup').value;
            let amt = parseInt(travel) * parseInt(inputgroup);
            amount.value = amt + parseInt(toamount);
        }

        function get_amt(){
            var toamount = document.getElementById('input-groups').value;
            var travel = document.getElementById('travel').value;      
            var inputgroup = document.getElementById('inputgroup').value;
            let amt = parseInt(travel) * parseInt(inputgroup);
            amount.value = amt + parseInt(toamount);
        }
    </script>

</body>
</html>