{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flight front</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/train.css' %}">
</head>
<body>

    <header>
    
        <a href="/" class="logo"><img src="{% static '/images/logo2.png' %}" alt=""style="width: 250px;height: 40px;"></a>
    
    <nav class="navbar">
        <ul>
    
            <li> <a data-scroll="flights" href="/flight/"> flights</a></li>
            <li><a data-scroll="hotels" href="/hotel/"> hotels</a></li>
            <li><a data-scroll="Trains" href="#"> Trains</a></li>
            <li><a data-scroll="buses" href="/bus/"> buses</a></li>
            <li><a data-scroll="cabs" href="/cab/"> cabs</a></li>
            <li><a data-scroll="contact" href="{% url 'home' %}"> contact</a></li>
        
        
               
        </ul>
            </nav> 
                 
    </header>
    
    <section class="front">
        <div class="image">
            <img src="{% static 'images/train/trainbg.jpg' %}" alt="">
        </div>

        <div class="content">
            <h3>Book Train Tickets </h3>
            <p>Traveling by train is a popular choice for both short commutes and longer journeys, and for a good reason. With over a thousand routes connecting cities in India, traveling by train is the most convenient mode of travel.</p>
            <a href="#" class="btn">explore now</a>

        </div>
    </section>

    <section class="from-container">

        <form action="{% url 'train' %}" method="post">
            {% csrf_token %}

            <div class="inputbox">
                
                <span class="list">From</span>
                <select  id="input-group" name="from" style="background: #fff;">
                    <option value="">---</option>
                    {% for frt in Fromtr  %}
                    <option value="{{ frt.City_name }}">{{ frt.City_name }}</option>
                    {% endfor %}
                    
             </select>
                
            </div>

            
            <div class="inputbox">
                <span class="list">To</span>
                <select  id="input-groups" name="to" style="background: #fff;" onchange="get_amountto(this)">
                    <option value="">---</option>
                    {% for tot in Totr  %}
                    <option value="{{ tot.price }}">{{ tot.City_name }}</option>
                    {% endfor %}
                </select>
            </div>
            


            <div class="inputbox">
                <span>departure</span>
                <input type="date"  name="ddate">
            </div>

            <div class="inputbox">
                <span>Travellers</span>
                <input type="text" id="tmem" placeholder="No.of travellers" name="adult" onchange="get_amt()">
            </div>

            <div class="inputbox">
                <span class="list"> Class</span>
                <select  id="inputgroup" name="seat" style="background: #fff;width: 45rem;" onchange="get_amount(this)">
                    <option value="">---Select Class---</option>
                    {% for tc in train %}
                    <option value="{{ tc.train_price }}">{{ tc.train_class }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="inputbox">
                <span>Amount</span>
                <input type="text" id="amount" placeholder="Total Amount" name="amount">
            </div>
            
            <button type="submit" class="btn">Book now</button>

        </form>
    </section>

    
    <section class="feature" id="feature">

        <h1 class="heading"><span>Offers</span></h1>
        
        <div class="card-container">
        
            <div class="card">
                
                
                <img src="{% static 'images/train/trainoffer1.avif' %}" alt="">
                <div class="content">
                    <h6 class="title">Trip Guarantee on train!</h6>
                    <p>Waitlist tickets no more, Get a confirmed ticket</p>
                  <a href="#" class="btns">apply</a>
                </div>
            </div>
        
            <div class="card">
                
               
                <img src="{% static 'images/train/trainoffer2.avif' %}" alt="">
                <div class="content">
                    <h6 class="title">exciting NEWS: Book ticket for Vande Bharat Express</h6>
                    <p>with us hussle free and Get set for a train journy</p>
                  <a href="#" class="btns">apply</a>
                </div>
            </div>
    
            <div class="card">
                
               
                <img src="{% static 'images/train/trainoffer3.avif' %}" alt="">
                <div class="content">
                    <h6 class="title">Free Cancellation on train Booking!</h6>
                    <p>make your train travel easier, penalty-free and Worry-free.</p>
                  <a href="#" class="btns">apply</a>
                </div>
            </div>
    
            <div class="card">
                
               
                <img src="{% static 'images/train/trainoffer4.avif' %}" alt="">
                <div class="content">
                    <h6 class="title">AVAIL: up to 10% instant discount on</h6>
                    <p>Buses, Cabs and trains on next Gateway</p>
                    <a href="#" class="btns">apply</a>
                </div>
            </div>
        
        </div>
        
        </section>
        





    <section class="newsletter">

        <h1>sign up with your Email</h1>
        
        <p>To know the more information of your booking</p>
        
        <form action="">
            <input type="email" placeholder="enter your email">
            <input type="submit" value="sign up">
        </form>
        
        </section>
        
        <section class="footer">
        
        <h1 class="credit">created by <span>afnan</span> | all rights reserved.</h1>
        
        <div class="icons">
            <a href="https://www.facebook.com/" target="_blank" ><i class="fab fa-facebook-f"></i> </a>
            <a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/af.travels9938/" target="_blank"><i class="fab fa-instagram"></i></a>
            
        </div>
        
        </section>
    
        <script>
            function get_amount(el){
                var toamount = document.getElementById('input-groups').value;
                var travel = document.getElementById('tmem').value;      
                var inputgroup = el.value;
                let amt = parseInt(travel) * parseInt(inputgroup);
                amount.value = amt + parseInt(toamount);
            }
    
            function get_amountto(el){
                var toamount = el.value;
                var travel = document.getElementById('tmem').value;      
                var inputgroup = document.getElementById('inputgroup').value;
                let amt = parseInt(travel) * parseInt(inputgroup);
                amount.value = amt + parseInt(toamount);
            }
    
            function get_amt(){
                var toamount = document.getElementById('input-groups').value;
                var travel = document.getElementById('tmem').value;      
                var inputgroup = document.getElementById('inputgroup').value;
                let amt = parseInt(travel) * parseInt(inputgroup);
                amount.value = amt + parseInt(toamount);
            }
        </script>
</body>
</html>